@model IEnumerable<DatabaseSetupProject.Models.PoliciesOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliciesOrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliciesStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Policies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliciesOrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliciesStatus.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policies.PoliciesName)
            </td>
				<td>
					@if (item.PoliciesStatus.StatusName == "InProced")
					{
						<form asp-action="Accept" asp-route-id="@item.Id">
							<input type="submit" value="Accept" class="btn btn-success" />
						</form>
						<form asp-action="Decline" asp-route-id="@item.Id">
							<input type="submit" value="Decline" class="btn btn-danger" />
						</form>
					}
				</td>
			</tr>
}
    </tbody>
</table>
