@model IEnumerable<DatabaseSetupProject.Models.PoliciesOrder>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-controller="Manager" asp-action="SearchByTimeYear" method="get">
    <p>
        Поиск по месяцу и году: <input type="date" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliciesOrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliciesStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Policies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliciesOrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliciesStatus.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policies.PoliciesName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
