@model DatabaseSetupProject.Models.Policies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Policies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliciesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliciesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliciesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliciesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliciesType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
